<!DOCTYPE html>
<html>
<body>
    <nav>
        <a href="{% url 'mainPage' %}">URL checker</a> |
        <a href="{% url 'resources' %}">Resources</a>
    </nav>

<h1>
    Further reading on website security
</h1>
<p>
    This is where the website security information will go, including links. Can probably just be a static page, but can add some dynamism if we like.

    This is turning out to be more like just programming in html and css, at least for the frontend, but it is what it is.
</p>
</body>
</html>